.token_section {
    background-image: url(../../Images/tokenImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem 0;
    border-radius: 50px;
    margin-bottom: 6rem;
}
.token_section h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 60.45px;
    color: #EFE0CB;
    width: 63%;
    margin: 0 auto;
    padding-bottom: 12px;
}
.token_section h2 span {
    font-weight: 500;
}
.token_section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 28px;
    width: 79%;
    margin: 0 auto;
}

.token_section .learn_more-btn a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    max-width: 165px;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.token_section .learn_more-btn {
    max-width: 165px;
    width: 100%;
    height: 46px;
    margin: auto;
    background: #F19B2B;
    border: 1px solid #E38D00;
    border-radius: 7px;
}
.token_section .token_ellipse img {
    position: absolute;
    width: 50%;
}
.token_section .token_top_stars {
    position: absolute;
    width: 30%;
    height: 60%;
    left: -20%;
    top: -10%;
}
.token_section .token_bottom_stars {
    width: 30%;
    height: 46%;
    position: absolute;
    right: 14%;
    bottom: -23%;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .token_section .token_ellipse img {
        position: absolute;
        width: 50%;
        bottom: -30%;
    }
}

@media screen and (max-width: 576px) {
    .token_section h2 {
        font-size: 31px;
        line-height: 38.45px;
        width: 84%;
        padding-bottom: 20px;
    }
    .token_section p {
        font-size: 15px;
        line-height: 18px;
        padding-bottom: 4.5rem;
        width: 72%;
        margin: 0 auto;
    }

    .token_section {
        padding: 2rem 0;
    }
    
    
}

@media screen and (max-width: 428px) {
    .token_section p {
        width: 100%;
        margin: 0 auto;
    }
    .token_section h2 {
        width: 100%;
    }
}
