.mainHeadingText h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 40.55px;
    margin: 0;
    color: #fff;
}
.mainHeadingText p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding-top: 16px;
    color: #fff;
    margin: 0;
    /* width: 54%;
    margin: 0 auto; */
}
.middleText{
    font-weight: 300 !important;
}